html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}

h1,h2,h3,h4,h5{ font-weight: normal; }
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a { text-decoration:none; }
a:hover { text-decoration:none; }

@font-face {
    font-family: 'PingFangSC-Regular'; 
    src: url('../font/PingFang/PingFangSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'PingFangSC-Medium'; 
    src: url('../font/PingFang/PingFangSC-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body{ font-family:"PingFangSC-Regular","Microsoft YaHei", Arial, "sans-serif"; background: #000;}

.top{width: 100%; height: 642px; }
.top .top-content{ width: 1440px; margin:0 auto; background: url(../images/pcbg.png) top center no-repeat; height: 100%; }
.t-body{width: 1086px; margin:0 auto; padding-top: 41px; }
.top .top-content h1{color: #fff; font-size: 24px;background: url(../images/pcicon.png) no-repeat; height: 34px; line-height: 34px; padding-left:51px;  }
.t-info{padding-top:74px; }
.t-info .c-left{ width: 425px; height: 493px; background: url(../images/show.png) 0 0 no-repeat; float: left; margin-right:115px;  }
.c-right{color: #fff; margin-top:73px; }
.c-right dl{margin-bottom:54px; }
.c-right dl dt{ font-size: 48px; margin-bottom:25px;  }
.c-right dl dd{ font-size: 32px; color: #D8D8D8 ; }
.c-right ul li{float: left;margin-bottom:19px; margin-right: 14px;   }
.c-right ul li a{display: block; width: 224px; height: 58px; line-height: 58px; color: #3ad9f9; font-size: 14px; border-radius: 5px;box-sizing: border-box;text-align: center; }
.c-right ul li.win a{background: url(../images/windows1.png) 25px 8px no-repeat #0f2c6b;  }
.c-right ul li.mac a{background: url(../images/mac-dl.png) 0 0 no-repeat #0f2c6b;}
.c-right ul li.mac a span{ font-size: 12px; }
.c-right ul li.adr a{background: url(../images/android1.png) 25px 8px no-repeat #0f2c6b;  }
.c-right ul li.ios a{background: url(../images/ios1.png) 25px 8px no-repeat #0f2c6b;  }

.c-right ul li.code-con{ position: relative; }
.c-right ul li.code-con .codeapp{position: absolute; left: 2px; top:63px; box-shadow: 0px 1px 10px #999; overflow: hidden;  width: 221px; height: 220px; background:#fff; border-radius: 3px;}
.c-right ul li.code-con .codeapp img{ width: 150px; height:150px; margin: 15px 0 0 35px; }
.c-right ul li.code-con .codeapp p{ color: red;  text-align: center; margin-top: 5px; }


.kefu .codeapp { width: 210px;
    position: absolute;
    left: -152px;
    top: 73px;
    box-shadow: rgb(153, 153, 153) 0px 1px 10px;
    overflow: hidden;
    height: 220px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    display: none; }
.kefu .codeapp img { width: 150px; height:150px; margin: 15px 0 0 0; }
.kefu .codeapp p { color: red;  text-align: center; margin-top: 5px;}

.center{ background: #fff; }
.c-body{ width: 1204px; overflow: hidden; margin: 0 auto; padding-top: 32px; padding-bottom: 50px;      }
.c-body h2{ text-align: center; font-size: 24px; color: #000; margin-bottom:45px;  }
.ys-con{overflow: hidden;}
.ys-con dl{width: 398px; float: left; text-align: center; margin-bottom:60px;}
.ys-con dl dt{margin-bottom:10px; }
.ys-con dl dd{ font-size: 14px; color: #9B9B9B; margin-bottom:10px; }
.ys-con dl dd h4{font-size: 18px; color: #4A4A4A;}

.footer{  height: 340px; }
.footer .f-con{width: 1394px; height: 340px; margin: 0 auto; background: url(../images/pcbg2.png) top center no-repeat}
.f-con .f-tit{text-align: center; padding-top:28px; color: #fff; }
.f-con .f-tit dt{font-size: 24px; margin-bottom:20px; }
.f-con .f-tit dd{font-size: 18px; color: #B3B3B3;}
.f-line{overflow:hidden; width: 333px; margin:  78px auto 30px auto;}
.f-line .line{ float: left; width: 101px; height: 1px; background: #3895A6; margin-top:8px;  }
.f-line p{float: left; color: #3895A6 ; font-size: 14px; margin: 0 16px;}
.downlist{ overflow: hidden; width: 350px; margin: 0 auto; }
.downlist a{display: block; float: left;}
.downlist dl{  text-align: center; margin: 0 19px;}
.downlist dl dd{font-size: 14px; color: #3895A6;}
.downlist .b-mac dl dd { color: #9B9B9B; }

.copy-right {text-align: center; font-size: 12px; color: #b3b3b3; padding:22px 0;}

a.kefu {
transition: 0.2s ease-out;
position: fixed;
top: 50%;
width: 70px;
right: 0;
font-size: 12px;
background-color: rgb(34,159,255);
z-index: 9999;
}
a.kefu i{
display: block;
width: 31px;
height: 30px;
background: url(../images/chat.png);
margin: 15px auto 4px auto;
border-radius: 2px;
}
a.kefu div{
position: relative;
box-sizing: border-box;
display: block;
width: 100%;
height: 25px;
line-height: 15px;
font-size: 12px;
color: #fff;
text-align: center;
cursor: pointer;
z-index: 9999;
margin-top: 10px;
}